@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Teko';
 
  
}



.Page > h1 {
  margin-top: 10px;
}

.Switch {
  background-color: dodgerblue;
  width: 100px;
  margin-top: 10px;
  border-radius: 5px;
  color: white;

  
}

.App > button {
  outline: none;
  margin-left: 80%;
}